/.quarto/
/template_files/
render/
.DS_Store
UWB-thesis.code-workspace
thesis.tex
thesis_files/
_extensions/ctu-thesis/output
.ipynb_checkpoints/
output
.vscode/
UWB-thesis_files
*.html
*.tex
_book
!tools/*.tex